
<table>
    <tbody>
    <tr>
        <th>id</th>
        <th>nombre</th>
        <th>apellido</th>
        <th>domicilio</th>
        <th>correo</th>
        <th>dni</th>
        <th>localidad</th>
        <th>v</th>
    </tr>
    <tr *ngFor="let item of datosCli">
        <td>{{item.id}}</td>
        <td>{{item.nombre}}</td>
        <td>{{item.apellido}}</td>
        <td>{{item.domicilio}}</td>
        <td>{{item.correo}}</td>
        <td>{{item.dni}}</td>
        <td>{{item.id_localidad}}</td>
        <td>{{item. __v}}</td>
    </tr>
</tbody>
</table>


